.body {
  background-color: #f9f8f4;
  font-family: 'Playfair Display', serif;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #8564a8;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  letter-spacing: 0.5px;
  text-align: center;
  margin-bottom: 3px;


}

#container {
  padding: 2.5px; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  border-radius: 12px;
  background: white;
  
  gap: 10px;
  
}

#canvas {
    border: 2px solid #a887cb;
    background: white;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

label {

  font-size: 12px
  color: red;
  font-family: 'Playfair Display', serif;
}

/* for enter notes section */
input[type="text"] {
  border: 1px solid #d6d1ca;
  background-color: #fdfcf9;
  border-radius: 6px;
  width: 100%;
  padding: 0.5px;
  font-family: 'Lucida Console', monospace;
  font-size: 12px;
}


input[type="color"] {
  border: none;
  border-radius: 5px;
  width: 40px;
  height: 30px;
}
/* find how to change bar colours */
input[type="range"] {
  width: 100%;
  accent-color: #bd9ddf; /*for da bars */
}

/* sound types (the dropdown thingy) */
select {
  font-family: 'Lucida Console', monospace;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #d6d1ca;
  width: 100%;
  
  background: #fdfcf9;
  
}

button {
  font-family: 'Lucida Console', monospace;
  padding: 1px;
  border-radius: 8px;
  border: none;
  background-color: #bd9ddf;
  color: white;
}

